{
  "mainAppName": "{{PROJECT_NAME}}.exe",
  "updateAppName": "Upgrade{{PROJECT_NAME}}.exe",
  "updatePath": "./update/",
  "appType": 1,
  "version": "{{CLIENT_VERSION}}",
  "productId": "{{PRODUCT_ID}}"
}
