{
  "mainAppName": "{{PROJECT_NAME}}.exe",
  "updateAppName": "Upgrade{{PROJECT_NAME}}.exe",
  "updatePath": "./update/",
  "appType": "Client",
  "clientVersion": "{{CLIENT_VERSION}}",
  "productId": "{{PRODUCT_ID}}"
}
